{% extends 'portfolio/base_template.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-center-center align-items-center">
      <div class="col-md-12">
        <img id="header_picture"
             src="{% static 'portfolio/biocloud.png' %}"
             class="img-fluid"
             alt="biocloud">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 align-self-center">
        <img id="profile_picture" src="{% static 'portfolio/headshot.png' %}"
          class="img-fluid" alt="headshot - Michael Martyn">
      </div>
      <div class="col-md-6 col-sm-12 align-self-center" style="top:4px">
        <div class="text-center">
          <h1 style=font-size:80px>Michael Martyn</h1>
        </div>
        <div class="text-justify">
          <p><span class="lead">Hi, I'm Michael</span> 👋 I'm a trinational (UK, US, Irish) who enjoys tackling complex biological problems with pipettes and programming <a href="https://www.github.com/mmartyn3">(Github)</a>.
          In my free time, I enjoy exploring the SF Bay Area with <a href="https://goldengaterunningclub.org">Golden Gate Running Club</a> and learning to play the piano.</p>
          <p>I'm currently an Associate Bioinformatics Engineer at <a href="https://www.zymergen.com/">Zymergen</a>.
            Feel free to check out my <a href="/static/portfolio/Michael_Martyn_Resume.pdf">resume</a>, or reach out on <a href="https://www.linkedin.com/in/mrmartyn/">LinkedIn.</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4>Professional Experience:</h4>
          <ul class="timeline">
            <li>
              <a href="https://www.zymergen.com/">Zymergen, CA, USA</a>
              <p class="float-right">2020 - present</p>
              <p style="margin-bottom: 0px">Assoc. Bioinformatics Engineer</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>Worked cross-functionally between the Technology and Science departments to identify areas where I could build and deploy tools that would either enable new technologies or greatly benefit existing manual workflows. Example areas include DNA build QC, genome analysis, and GS analysis. In this role, I utilised my domain knowledge to translate scientists needs and rquirements into design docs so that myself and peers could readily produce tangible solutions.</p>
                </div>
            </li>
            <li>
              <a href="https://www.zymergen.com/">Zymergen, CA, USA</a>
              <p class="float-right">2017-20</p>
              <p style="margin-bottom: 0px">Research Associate I, II, III</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>Involved in R&D wet lab and computational projects, ranging from building protein express ion to developing automated analysis of DNA build success rates and failure mechanisms. Culminated in spearheading development of a bioinformatic pipeline to mine one of the most  diverse metagenomic libraries in the world for novel high-value proteins.</p>
                </div>
            </li>
            <li>
              <a href="https://www.ncl.ac.uk/">Newcastle University, UK</a>
              <p class="float-right">2016</p>
              <p style="margin-bottom: 0px">Research Assistant</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>RA in the Interdisciplinary Computing and Complex BioSystems (ICOS) research group, with my activities split between the School of Computing Science and the Centre for Bacterial Cell Biology (CBCB). I performed both computational and lab development of a CRISPR toolkit to genetically  engineer bacterial wastewater communities. This involved the design / implementation the guide RNA algorithm,  assembling plasmids, colonies picking, and analysis of NGS data from both short (Illumina)  and long (MinION) data. Results were presented at an internal poster session to fellow peers.</p>
                </div>
            </li>
            <li>
              <a href="https://www.ncl.ac.uk/">Newcastle University, UK</a>
              <p class="float-right">2016</p>
              <p style="margin-bottom: 0px">Advisor iGEM</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>Selected as the first Masters student at Newcastle University to be appointed an advisor  to our undergraduate team for the annual International Genetically Engineered Machines (iGEM) competition.  I mentored the undergraduate team on various computational and wet lab skills.</p>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4>Education:</h4>
          <ul class="timeline">
            <li>
              <a href="https://www.udemy.com/">Udemy</a>
              <p class="float-right">2020</p>
              <p style="margin-bottom: 0px">Python Full Stack Bootcamp</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>Online bootcamp (~100 hours) covering the fundamentals of web development and introducing the Django framework and the following languages: HTML, CSS, JavaScript, JQuery. The course consisted of lectures, exercises and, building 2 cornerstone projects (a ToDo app and a social media clone). Following the course I created this site! </p>
                </div>
            </li>
            <li>
              <a href="https://www.usf.com/">University of San Francisco, USA</a>
              <p class="float-right">2018</p>
              <p style="margin-bottom: 0px">Intro to Machine Learning, Cert</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>7-week in person course taught by Nathinal Tucker (CTO, Nebula Genomics) covering  topics such as data cleaning, feature engineering, and building models.</p>
                </div>
            </li>
            <li>
              <a href="https://www.ncl.ac.uk/">Newcastle University, UK</a>
              <p class="float-right">2015-16</p>
              <p style="margin-bottom: 0px">Synthetic Biology, MSc</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px;">Expand...</button>
                <div class="content">
                  <p>Thesis: Cris.py - Experimentally validated Python tool for designing CRISPR guide RNA to target a single species within a microbiome.</p>
                </div>
            </li>
            <li>
              <a href="https://www.ncl.ac.uk/">Newcastle University, UK</a>
              <p class="float-right">2012-15</p>
              <p style="margin-bottom: 0px">Cellular and Molecular Biology, BSc</p>
              <button type="button" class="btn btn-outline-info collapsible" style="padding-left: 0px; margin-bottom: 5px">Expand...</button>
                <div class="content">
                  <p>Main thesis: Security in the era of Synthetic Biology </p>
                  <p>Sub thesis: Artificially Expanded Genetic Information Systems (AEGIS)</p>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

<script>
  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>



    <!-- <h1> Hi, this is my portfolio </h1>

    {% load static %}

    <a href="{% url 'blog:all_blogs' %}">Blog</a>
    <br>
    <a href="{% static 'portfolio/cv.pdf' %}">Resume</a>
    <br>
    <img src="{% static 'portfolio/profile.jpg' %}" height=400 width=400>


    {% for project in projects %}

    <h2>{{ project.description }}</h2>
    <img src="{{ project.image.url }}" height=200 width=200>
    {% if project.url %}
    <br><a href="{{ project.url}}">Link_to_pic</a>
    {% endif %}

    {% endfor %} -->

{% endblock %}
